.app__gallery {
    flex: 1;
    flex-direction: column;

    width: 100%;
}

.app__gallery-col {
    flex-direction: column;

    max-height: 570px;

    @media screen and (max-width: 850px) {
        max-height: 450px;
    }
}

.app__gallery-item {
    width: 60%;

    min-height: 320px;

    background-color: var(--white-color);

    display: flex;
    flex-direction: column;

    padding: 2rem;

    border-radius: 15px;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease-in-out;

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    @media screen and (min-width: 2000px) {
        min-height: 450px;
    }

    @media screen and (max-width: 850px) {
        width: 100%;
    }
}

.app__gallery-content {
    flex: 1;

    height: 100%;

    padding: 0.5rem 2rem;

    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    p {
        font-size: 1.25rem;
        font-family: var(--font-base);

        line-height: 2rem;

        color: var(--black-color);
    }
}

.app__gallery-btns-col {
    display: flex;
    flex-direction: row;
}

.app__gallery-btns {
    margin-top: 1rem;

    div {
        cursor: pointer;

        width: 50px;
        height: 50px;

        border-radius: 50%;

        background-color: var(--white-color);

        margin: 1rem;

        transition: all 0.3s ease-in-out;

        svg {
            width: 20px;
            height: 20px;

            color: var(--secondary-color);
        }

        &:hover {
            background-color: var(--secondary-color);

            svg {
                color: var(--white-color);
            }
        }
    }
}
